@media (max-width: 1180px) {
    .container-listItems .image-poster {
        width: 15vw;
    }
}

@media (max-width: 980px) {
    .container-listItems .image-poster {
        width: 18.5vw;
    }
}

@media (max-width: 640px) {
    .container-listItems {
        padding: 0 30px;
    }

    .container-listItems .image-poster {
        width: 29.5vw;
    }
}

@media (max-width: 560px) {
    .container-listItems .image-poster {
        width: 41vw;
    }

    .container-listItems .image-poster:hover {
        transform: scale(0.95);
    }
}

@media (max-width: 460px) {
    .container-listItems .image-poster {
        width: 40.5vw;
    }
}