@media (max-width: 640px) {
    .container-searchComponent {
        padding: 0 25px;
    }

    .container-searchComponent #input {
        height: 65px;
        text-align: start;
        padding-left: 30px;
        font-size: 16px;
    }

    .container-searchComponent .search-icon {
        top: 20px;
        right: 15px;
    }

}