@media (max-width: 1180px) {
    .SerieRow-seriesPage .container-serieRow {
        padding: 60px;
    }

    .SerieRow-seriesPage .container-serieRow .image-poster {
        width: 16vw;
    }
}

@media (max-width: 980px) {
    .SerieRow-seriesPage .container-serieRow .image-poster {
        width: 20vw;
    }
}

@media (max-width: 760px) {
    .SerieRow-seriesPage .container-serieRow .image-poster {
        width: 25vw;
    }
}

@media (max-width: 640px) {
    .SerieRow-seriesPage .container-serieRow .image-poster {
        width: 31vw;
    }
}

@media (max-width: 560px) {
    .SerieRow-seriesPage .container-serieRow {
        padding: 0;
    }

    .SerieRow-seriesPage .container-serieRow .posters {
        overflow-x: auto;
    }

    .SerieRow-seriesPage .container-serieRow .posters::-webkit-scrollbar {
        display: none;
    }

    .SerieRow-seriesPage .container-serieRow .image-poster {
        width: 42vw;
    }

    .SerieRow-seriesPage .container-serieRow .image-poster:hover {
        transform: scale(0.9);
    }
}